*.mesh
ebb-*
dub.selections.json
cylinder*
half_cylinder*
*grind*
__pycache__
*pdf
naca*
multielement*
.vscode
.dub
Box*
box*
*txt
bamg
build*
refinementStudy
*.out
*.aux
*.log
*.fdb_latexmk
*.bak
*.fls
*.blg
*.bbl
